<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <title>SP Ponto Seguro</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

  <!-- Favicon padrão -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- PNGs em diferentes tamanhos -->
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='web-app-manifest-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='web-app-manifest-512x512.png') }}">

  <!-- Apple Touch Icon (para iOS) -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">

  <!-- Manifest (para PWA) -->
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>

<body>

  <!-- HEADER -->
  <header>
    <img src="{{ url_for('static', filename='logoMenor.png') }}" alt="SP Ponto Seguro" class="logo">
    <p>Crimes próximos a pontos de ônibus</p>
  </header>

  <!-- CONTEÚDO -->
  <main>

    <!-- CONTROLES -->
    <div class="controles">
      <label for="filtro">Ano:</label>
      <select id="filtro">
        <option value="2023">2023</option>
        <option value="2024">2024</option>
